html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    width: 1920px;
    height: 64px;
    position: fixed;
    background-color: #181818;
}

.header-logo {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo:hover {
   background-color: #222222; 
}