html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    width: 1920px;
    height: 64px;
    position: fixed;
    background-color: #181818;
    display: flex;
}

.header-logo {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo:hover {
   background-color: #222222; 
}

.header-navigation {
width: 950px;
height: 64px;
display: flex;
align-items: center;
}

.header-menu {
    display: flex;
    list-style-type: none;
}

.header-menu a {
    color: #999b9d;
    margin: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:sans-serif;
    font-size: 12px;
    font-weight:bold;
}

.header-menu a:hover {
    color: white;
} 

.special-menu-button a {
    border: 1px solid #5dbb29;
    border-radius: 2px;
    padding: 5px 12px 5px 12px;
    color: #5dbb29;
}

.header-menu-right {
    width: 900px;
    height: 64px;
    display: flex;
}

.header-search {
    display: flex;
    align-items: center;
}

.header-search input {
    padding: 5px;
    width: 230px;
    background-color: #282828;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 2px;
}

.header-buttons {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.header-search input::placeholder {
    color: #999b9d;
    font-size: 12px;
}

